body, main, div, p, h1, h2, section, article, a {
  padding: 0;
  margin: 0;
}

main {
  padding: 2em 2em;
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
  font-weight: 500;
  color: #585858;
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns:
    /* 1 */ 30%
    /* 2 */ 1fr;
}

h1, h2 {
  color: #1d7d74;
  letter-spacing: 2px;
}

.left-cell > h1, .left-cell > h2, a {
  color: #636363;
  letter-spacing: 0px;
}

#contact-info article {
  margin-bottom: 1em;
}

#about-me {
  grid-column: 2;
  grid-row: 1;
}

#about-me > h1 {
  font-size: 50px;
  margin-bottom: 1em;
}

#experience-title {
  grid-column: 2;
  grid-row: 2;
}

.section-start-title {
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

#experience {
  grid-column: 1;
  grid-row: 3;
}

.left-cell {
  margin-bottom: 1em;
  font-size: small;
  grid-column: 1;
}

.right-cell {
  margin-bottom: 1em;
  grid-column: 2;
}

.skill-container {
  height: 25px;
  width: 15em;
  margin-top: 0.25em;
}

.skill-container > p {
  float: left;
  margin-right: 1em;
}

.skill-circle.fill {
  background-color: #009688;
}

.skill-circle {
  display: inline-block;
  float: right;
  border-radius: 1em;
  height: 100%;
  width: 25px;
  background-color: #00544c;
  margin-right: 5px;
}


